[submodule "thirdparty/cgltf"]
	path = thirdparty/cgltf
	url = git@github.com:HanetakaChou/Brioche-Asset-Import.git
	branch = cgltf
[submodule "thirdparty/DirectXMesh"]
	path = thirdparty/DirectXMesh
	url = git@github.com:HanetakaChou/Brioche-Asset-Import.git
	branch = DirectXMath
[submodule "thirdparty/mmd"]
	path = thirdparty/mmd
	url = git@github.com:HanetakaChou/Brioche-Asset-Import.git
	branch = mmd
