[submodule "thirdparty/cgltf"]
	path = thirdparty/cgltf
	url = git@github.com:HanetakaChou/Brioche-Asset-Import.git
	branch = cgltf
[submodule "thirdparty/DirectXMesh"]
	path = thirdparty/DirectXMesh
	url = git@github.com:HanetakaChou/Brioche-Asset-Import.git
	branch = DirectXMath
[submodule "thirdparty/mmd"]
	path = thirdparty/mmd
	url = git@github.com:HanetakaChou/Brioche-Asset-Import.git
	branch = mmd
[submodule "thirdparty/libjpeg"]
	path = thirdparty/libjpeg
	url = git@github.com:HanetakaChou/Brioche-Asset-Import.git
	branch = libjpeg
[submodule "thirdparty/libpng"]
	path = thirdparty/libpng
	url = git@github.com:HanetakaChou/Brioche-Asset-Import.git
	branch = libpng
[submodule "thirdparty/zlib"]
	path = thirdparty/zlib
	url = git@github.com:HanetakaChou/Brioche-Asset-Import.git
	branch = zlib
[submodule "thirdparty/libwebp"]
	path = thirdparty/libwebp
	url = git@github.com:HanetakaChou/Brioche-Asset-Import.git
	branch = libwebp
[submodule "thirdparty/OpenCV"]
	path = thirdparty/OpenCV
	url = git@github.com:HanetakaChou/OpenCV.git
	branch = master
